<div class="container">
    <h1 class="title">currency conversion app</h1>
   <div class="input-output">
       <div class="before">
            <!-- CURRENCY VALUE BEFORE -->
<input type="text" name="curValueB4" id="curValueB4" value="{{ curValBef | currencyconverter: curBefore: curAfter}}" [(ngModel)]='curValBef'/>
<select name="beforeCur" id="beforeCur">
  <option value="1">XAF</option>
  <option value="2">USD</option>
  <option value="3">EURO</option>
  <option value="4">NAIRA</option>
  <option value="5">JPY</option>
  <option value="6">CNY (Chinese Yuan)</option>
</select>

       </div>
<p>TO</p>
<div class="after">
    <!-- CURRENCY VALUE AFTER -->
<input type="text" name="curValueAfter" id="curValueAfter" value="{{ curValBef | currencyconverter: curBefore: curAfter}}" [(ngModel)]='curValAfter' disabled />
<select name="afterCur" id="afterCur">
  <option value="11">XAF</option>
  <option value="12">USD</option>
  <option value="13">EURO</option>
  <option value="14">NAIRA</option>
  <option value="15">JPY</option>
  <option value="16">CNY (Chinese Yuan)</option>
</select>

</div>
   </div>
</div>