<div class="container">
  <h1 class="title">currency conversion app</h1>
  <div class="input-output">
    <div class="before">
      <!-- CURRENCY VALUE BEFORE -->
      <select name="curBefore" id="beforeCur" [(ngModel)]="curBefore">
        <option
          *ngFor="let curBefore of currencies"
          (click)="getcurBefore($event)"
          [ngValue]="curAfter"
        >
          {{ curBefore }}
        </option>
      </select>
      <input
        type="text"
        name="curValBef"
        id="curValueB4"
        value="{{ curValBef }}"
        [(ngModel)]="curValBef"
      />
    </div>
    <p>TO</p>
    <div class="after">
      <!-- CURRENCY VALUE AFTER -->
      <select name="curAfter" id="afterCur" [(ngModel)]="curAfter">
        <option
          *ngFor="let curAfter of currencies"
          [ngValue]="curAfter"
        >
          {{ curAfter }}
        </option>
      </select>
      <input
        type="text"
        name="curValueAfter"
        id="curValueAfter"
        value="{{ curValBef | currencyconverter: curBefore:curAfter }}"
        [(ngModel)]="curValueAfter"
        disabled
      />
    </div>
  </div>
</div>
