html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    height: 100vh;
    width:100vw;
}

#curValueB4, #curValueAfter, #afterCur, #beforeCur{
    height: 50px;
    /* width: 100%; */
    border: 1px solid #dadce0;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    z-index: 1;
    border-radius: 7px;
}
#curValueB4, #curValueAfter{
    background: none;
    color: white;
    width: 65%;
}
#afterCur, #beforeCur{
    width: 70%;
    height: 25px;
    font-weight: 600;
    margin: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100%;
    width: 80%;
    margin: auto;
}
.input-output{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(143, 160, 200, 0.4);
    padding: 40px 40px;
    background-color: #000000;
    color: white;
    height: auto;
}
.title{
    font-size: 210%;
    text-align: center;
    margin: 100px;
    text-transform: capitalize;
    width: 100%;
    height: auto;
}
.before, .after{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.before{
    align-items: flex-start;
}
#curValueB4:focus, #curValueAfter:focus{
    border: 2px solid lightblue;
}
#to{
    margin: 5px;
    padding: 2px;
    height: 30px;
}
