<!-- CURRENCY VALUE BEFORE -->
<input type="text" name="curValueB4" id="curValueB4" />
<select name="beforeCur" id="">
  <option value="1">XAF</option>
  <option value="2">USD</option>
  <option value="3">EURO</option>
  <option value="4">NAIRA</option>
  <option value="5">JPY</option>
  <option value="6">Chinese Yuan (CNY)</option>
</select>

<p>TO</p>
<!-- CURRENCY VALUE AFTER -->
<input type="text" name="curValueAfter" id="curValueAfter" disabled />
<select name="afterCur" id="">
  <option value="11">XAF</option>
  <option value="12">USD</option>
  <option value="13">EURO</option>
  <option value="14">NAIRA</option>
  <option value="15">JPY</option>
  <option value="16">Chinese Yuan (CNY)</option>
</select>
